/* Error: Expected expression.
 *   ,
 * 2 |     background-color:
 *   |                      ^
 *   '
 *   scss/index.scss 2:22  @import
 *   scss/prueba.scss 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a   \2577 \a 2 \2502      background-color:\a   \2502                       ^\a   \2575 \a   scss/index.scss 2:22  @import\a   scss/prueba.scss 1:9  root stylesheet";
}
