p {
    font-weight: 300;
    font-size: 18px;
    padding-left: 10px;
}
section div .pregf {
    text-align: left;
    padding: 12px;
    text-decoration: underline rgb(134, 155, 158) 2px;
    font-style: italic;
}
