/* ayuda.scss */
p {
    background-color: rgba(245, 245, 245, 0.735);
    font-weight: 300;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgba(245, 245, 245, 0.735);
}
section div .pregf {
    text-align: left;
    padding: 12px;
    text-decoration: underline rgb(134, 155, 158) 2px;
    font-style: italic;
}