.formm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
}
.bottom {
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 30px;
    width: 140px;
    border: none;
    display: flex;
    background-color: rgb(207, 243, 136);
    transition-duration: .5s;
    border-radius: 10%;
    &:hover {
        justify-content: center;
    font-size: 15px;
    height: 31px;
    width: 150px;
    background-color: rgb(13, 72, 80);
    color: white;
    }
}
