/* GENERAL.SCSS*/

/* variables de colores */
$verde: rgb(207, 243, 136);
$turquesa: rgb(13, 72, 80);
$gris: rgb(54, 65, 63);

*{
    font-family: 'Circular Std', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.logo {
    width: 100px;
    border-radius: 50%;
    transition-duration: 0.5s;
    &:hover {
        width: 110px;
    }
}
main {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: 'PT Serif', serif;
    align-items: center;
    font-style: italic;
    font-weight: 380;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    color: $verde;
}

h2 {
    color: $turquesa;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: $gris;
    div {
        font-size: 18px;
    }
    .prod {
        background-color: rgba(255, 235, 205, 0.666);
    }
}

h4 {
    text-align: center;
    font-weight: 300;
    color: $gris;
}
/* HEADER CON TITULO Y LOGO */
.gridcontainer {
    display: grid;
    grid-template-columns: 10fr 1fr; 
    padding: 5px 10px;
    margin: 0px;
    background-color: $turquesa;
    background-size: cover;
    background-repeat:no-repeat
}
.img {
    padding: 5px;
    width: 300px;
}

footer {
    .imgig {
        width: 20px;
    }
}

/* NAV */
.nav-links:active {
    background-color: rgb(134, 155, 158);
    color: $gris;
}
.nav {
    display: flex;
    flex-direction: column;
}
#colorpills {
    transition: 0.3s;
}
.navpills {
    background-color: rgb(166, 197, 202);
}
#colorpill {
    background-color: rgb(142, 190, 197);
    color: $gris;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: $verde;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 30px;
    div {
        p {
            font-size: 15px;
            background-color: $verde;
        }
    }
    .imgig {
        padding-bottom: 10px;
    }
}
/* links generales */
a:link {
    text-decoration: none !important;
    color: black !important;
}
a:visited {
    color: black !important;
    text-decoration: none !important;
}
a:active {
    text-decoration: none !important;
    color: black !important;
}
a {
    text-decoration: none !important;
    color: black !important;
}
a:hover{
    text-decoration: none !important;
    color: $gris !important;
}