/* GENERAL.SCSS*/

/* variables de colores */
$verde: rgb(207, 243, 136);
$turquesa: rgb(13, 72, 80); 
*{
    font-family: 'Circular Std', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.logo {
    width: 100px;
    border-radius: 50%;
    transition-duration: 0.5s;
    &:hover {
        width: 110px;
    }
}
main {
    background-image: url(../images/Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: 'PT Serif', serif;
    align-items: center;
    font-style: italic;
    font-weight: 380;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    color: $verde;
}

h2 {
    color: $turquesa;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: rgb(54, 65, 63);
    div {
        font-size: 18px;
    }
}

h4 {
    text-align: center;
    font-weight: 300;
    color: rgb(54, 65, 63);
}
.gridcontainer {
    display: grid;
    grid-template-columns: 10fr 1fr; 
    padding: 5px 10px;
    margin: 0px;
    background-color: $turquesa;
    background-size: cover;
    background-repeat:no-repeat
}
.img {
    padding: 5px;
    width: 350px;
}
.imgflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    .imgig {
        width: 20px;
    }
}

/* NAV */
.nav-linksactive{
    background-color: rgb(134, 155, 158);
    color: rgb(54, 65, 63);
}
.nav {
    display: flex;
    flex-direction: column;
}
#colorpills {
    transition: 0.3s;
}
.navpills {
    background-color: rgb(166, 197, 202);
}
#colorpill {
    background-color: rgb(142, 190, 197);
    color: rgb(64, 77, 75);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: $verde;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 30px;
    div {
        p {
            font-size: 15px;
            background-color: $verde;
        }
    }
    .imgig {
        padding-bottom: 10px;
    }
}
/* links generales */
a:active {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
    text-decoration: none;
}
a {
    text-decoration: none;
}
