
*{
    font-family: 'Circular Std', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
    background-image: url(./images/Diseño\ sin\ título.png)
}
main {
    background-repeat: no-repeat
}
main {
    background-size: 200%;
    background-position: center
}
main {
    background-attachment: fixed;
}
.logo {
    width: 90px;
    border-radius: 50%;
    transition-duration: 0.5s;
}
.logo:hover {
    width: 93px;
}
h1 {
    align-items: center;
    font-style: italic;
    font-weight: 380;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    color: rgb(207, 243, 136);
}
h2 {
    color: rgb(13, 72, 80);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
div h3 {
    font-size: 18px;
}
h4 {
    text-align: center;
    font-weight: 300;
}
.gridcontainer {
    display: grid;
    grid-template-columns: 10fr 1fr; 
    padding: 5px 10px;
    margin: 0px;
    background-color: rgb(13, 72, 80);
    background-size: cover;
    background-repeat:no-repeat
}
.img {
    width: 350px;
}
.imgflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    padding: 5px;
}
footer .imgig {
    width: 20px;
}



/*======================= NAV ======================*/
.nav-linksactive{
    background-color: rgb(134, 155, 158);
}
.nav {
    display: flex;
    flex-direction: column;
}
.navpills {
    transition: 0.3s;
}
.navpills {
    background-color: rgb(166, 197, 202);
}
#colorpill {
    background-color: rgb(142, 190, 197);
}



/*=============================== FOOTER ===============================*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: rgb(207, 243, 136);
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 20px;
}



/*        LINKS        */
<<<<<<< HEAD

=======
>>>>>>> bootstrap
a:active {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
    text-decoration: none;
}
a {
    text-decoration: none;
}
footer div p {
    font-size: 15px;
}
footer .imgig {
    padding-bottom: 10px;
}


/*=============================== NOSOTROS ===============================*/
.footernos {
    margin-top: 180px;
    position: relative;
}


/*=============================== PRODUCTOS ===============================*/
div section .section {
    background-image: url(./images/Diseño\ sin\ título.png)
}
div section .section{
    background-size: 100%;
}

.navproductos {
    display: inline-block;
	width: 100%;
	text-align: center;
    justify-content: center;
	color: #000;
    text-decoration: none;
    padding-right: 30px;
}
.navprodli {
    height: 30px;
    transition: all .3s;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.navprodli:hover {
    padding: 5px;
    background-color: rgb(142, 190, 197);
    color: black;
}
.navprodli {
    font-size: 15px;
    font-weight: 360;
    list-style-type: none;
}
img {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.imgig {
    width: 20px;
}
.img {
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px auto;
	display:block;
    border-radius: 5%;
}


/*=============================== AYUDA ===============================*/
p {
    font-weight: 300;
    font-size: 18px;
    padding-left: 10px;
}
section div .pregf {
    text-align: left;
    padding: 12px;
    text-decoration: underline rgb(134, 155, 158) 2px;
    font-style: italic;
}


/*=============================== CONTACTO ===============================*/
.formm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
}
.bottom {
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 30px;
    width: 140px;
    border: none;
    display: flex;
    background-color: rgb(207, 243, 136);
    transition-duration: .5s;
    border-radius: 10%;
}
.bottom:hover {
    justify-content: center;
    font-size: 15px;
    height: 31px;
    width: 150px;
    background-color: rgb(13, 72, 80);
    color: white;
}



/*                                     MEDIA QUERY                                     */
@media screen and (min-width: 760px) {
    .logo:hover {
        width: 95px;
    }
    h1 {
        font-weight: 400;
        font-size: 50px;
        text-align: center;
    }
    h2 {
        font-weight: 300;
        font-size: 30px;
        padding-bottom: 15px;
    }
    h3 {
        font-weight: 300;
        font-size: 27px;
    }
    div h3 {
        font-size: 23px;
    }
    h4 {
        font-weight: 270;
        font-size: 30px;
        padding-bottom: 10px;
    }
    section .navproductos .navprodli{
        font-size: 20px;
        font-weight: 300;
        padding: 0px 5px;
    }
    .prod {
        background-color: blanchedalmond;
    }
    .imgf {
        padding: 10px;
    }
    footer div .imgig {
        width: 30px;
    }
    footer {
        padding-top: 10px;
    }
    footer div p {
        font-size: 15px;
    }
    .form {
        width: 335px;
    }
}



/*                                     MEDIA QUERY                                     */
@media screen and (min-width: 1200px) {
    .navpills {
        transition: 0.3s;
    }
    .navpills {
        background-color: rgb(134, 155, 158);
        color: black;
    }
    h1 {
        font-size: 50px;
        font-weight: 200px;
    }
    .logo {
        width: 120px;
        transition-duration: 0.3s;
    }
    .logo:hover {
        width: 126px;
    }
    h2 {
        font-weight: 400;
        font-size: 30px;
        padding-bottom: 20px;
    }
    h3 {
        font-weight: 400;
        font-size: 30px;
    }
    .mainn {
        padding: 110px;
    }
    .img {
        width: 700px;
    }
    .navprodli {
        padding: 20px;
    height: 20px;
    }
    .img {
        -webkit-transform-origin-x: 1 1;
    }
    .imgf {
        padding-top: 20px;
    }
    /*footer*/
    footer div .imgig {
        width: 40px;
    }
    /*contacto*/
    .form {
        width: 500px;
    }
    form div {
        font-size: 22px;
        width: 500px;
    }
    footer div p {
        font-size: 17px;
    }
    /*nav en productos*/
    .navprodli {
        height: 30px;
    }
    
}
<<<<<<< HEAD
=======

>>>>>>> bootstrap
